body{
    font-family:'Courier New', Courier, monospace;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    
    
}

#ArtBoard{
    border: 2px solid red;
    border-radius:5px;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    height: 20em;
    width: 20em;
    background-color: blue;
}

.pixel{
    background:blue;
    /* border:0.1px solid white; */
    margin:0;
    padding:0;
    box-sizing: border-box;
}

button{
    background-color: rgb(190, 221, 251);
    font-size: large;
    border-radius:5px;
}

.Controls{
    background-color: antiquewhite;
    border:2px solid red;
    padding:5px;
    border-radius:5px;
}